!reload: xrdb ~/.Xresources
!Font
!URxvt*font:xft:Monospace:size=10, xft:DejaVu Sans:size=8, xft:Terminess Powerline:size=12
URxvt.font: xft:DejaVu Sans Mono for Powerline:autohint=true:size=10
!URxvt*font: xft:Source\ Code\ Pro\ for\ Powerline,Source\ Code\ Pro\ Medium:size=11
!urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt*letterSpace: 0
urxvt*imLocale:	"en_US.UTF-8"

!Scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

! Max amount of lines
URxvt*saveLines: 20000

! Color settings
! Transparency
URxvt.transparent: true
URxvt.shading: 10
!URxvt.tintColor: white

! special
!*.foreground:   #000000
!*.background:   #888888
!*.cursorColor:  #000000

! black
!*.color0:       #000000
!*.color8:       #000000

! red
!*.color1:       #000000
!*.color9:       #000000

! green
!*.color2:       #000000
!*.color10:      #000000

! yellow
!*.color3:       #000000
!*.color11:      #000000

! folders
!*.color4:       #000000
!*.color12:      #000000

! magenta
!*.color5:       #000000
!*.color13:      #000000

! cyan
!*.color6:       #000000
!*.color14:      #000000

! white
!*.color7:       #000000
!*.color15:      #000000
