!reload: xrdb ~/.Xresources
!Font
!URxvt*font:xft:Monospace:size=10, xft:DejaVu Sans:size=8, xft:Terminess Powerline:size=12
URxvt.font: xft:DejaVu Sans Mono for Powerline:autohint=true:size=10
!URxvt*font: xft:Source\ Code\ Pro\ for\ Powerline,Source\ Code\ Pro\ Medium:size=11
!urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
URxvt*letterSpace: 0
urxvt*imLocale:	"en_US.UTF-8"

!Scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

! Max amount of lines
URxvt*saveLines: 20000

! Color settings
! Transparency
URxvt.transparent: true
URxvt.shading: 10
!URxvt.tintColor: white

! special
*.foreground:   #FFFFFF
*.background:   #000000
!*.cursorColor:  #000000

! black
*.color0:       #000000
*.color8:       #000000

! red
*.color1:       #FF0000
*.color9:       #FF0000

! green
*.color2:       #00FF00
*.color10:      #00FF00

! yellow
*.color3:       #FFFF00
*.color11:      #FFFF00

! folders
*.color4:       #FF00FF
*.color12:      #FF00FF

! magenta
*.color5:       #FF00FF
*.color13:      #FF00FF

! cyan
*.color6:       #00FFFF
*.color14:      #00FFFF

! white
*.color7:       #FFFFFF
*.color15:      #FFFFFF
